clyent==1.2.1
python-dateutil==2.8.2
absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
attrs
async-lru
atomicwrites==1.4.0
backports.weakref==1.0.post1
cachetools==5.3.3
certifi
chardet==4.0.0
charset-normalizer==3.3.2
click==7.1.2
colorama
contextlib2
cycler==0.12.1
decorator
entrypoints
et-xmlfile==1.1.0
filelock==3.3.0
idna==3.6
importlib-metadata
importlib-resources
inflection==0.5.1
intervaltree==3.1.0
itsdangerous==2.1.2
jinja2==3.0.3
json5==0.9.6
jsonpointer==2.1
keras-preprocessing==1.1.2
kiwisolver==1.4.5
locket==0.2.1
lxml==4.8.0
MarkupSafe==2.1.5
mccabe==0.6.1
more-itertools==8.9.0
msgpack
networkx==2.6.3
nltk==3.6.5
numpy==1.25.2
oauthlib==3.2.2
opt-einsum==3.3.0
overrides==3.1.0
packaging==24.0
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.22
protobuf==3.19.4
psutil==5.8.0
pycodestyle==2.8.0
pycparser==2.21
pyparsing==3.1.2
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil
pytz
QtPy==1.11.1
requests==2.26.0
rfc3986-validator==0.1.0
scipy==1.7.1
six==1.16.0
soupsieve==2.3.1
terminado==0.12.1
toml==0.10.2
toolz==0.11.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
urllib3==1.26.7
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2